.ProductBox{
    border: 5px solid rgb(183, 236, 252);
    /* border-radius: 10px; */
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 15px;
    overflow-y: scroll;
    scroll-snap-type: none;
    height: 610px;
   
}
.ProductBox::-webkit-scrollbar { /* Hide scrollbar for Chrome */
    display: none;
  }

.sortBtns {
    /* border: 1px solid red; */
    width: 9%;
    position: fixed;
    margin-top: 25px;
   }
   .sortBtns button{
       padding: 3% 4%;
      margin: 3% 0 3% 15%;
      border-radius: 10px;
      /* border: 1px solid grey; */
      border: none;
      background-color: rgb(255, 100, 221);
      color: white;
      
   }
   .loadingImg{
       border: 5px solid red;
       margin: 300px 0 0 50%;
       text-align: center;
   }
   .loading{
       margin: auto;
       text-align: center;
   }
   .try:hover{
margin-bottom: 5%;
   }